BPI Challenge 2017 - Offer log.xes
BPI Challenge 2017 - Offer log.xes.gz
BPI Challenge 2017.xes
BPI Challenge 2017.xes.gz

##########################
## Visual Studio ignores
##########################

*.opensdf
*.sdf

p_mining/ipch

p_mining/ProcessGraph/bin
p_mining/ProcessGraph/obj

p_mining/dataprovider/Release
p_mining/dataprovider/Debug

p_mining/Debug/*.exe
p_mining/Debug/*.pdb

p_mining/Release/*.exe
p_mining/Release/*.pdb

p_mining/Release/CppWrapper.dll
p_mining/Release/CppWrapper.dll.metagen

p_mining/clustering/Release
p_mining/clustering/Debug

p_mining/CppWrapper/Release
p_mining/CppWrapper/Debug

p_mining/LAMP/Release
p_mining/LAMP/Debug

p_mining/MDS/Release
p_mining/MDS/Debug

p_mining/Release
data/app_log_cap.csv

p_mining/PDataVis/obj

data/editDist.csv
data/19_SimilarityMatrix.csv
data/all_SimilarityMatrix.csv